

.big-container{
  width: 100%;
  display: flex;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
 padding: 2rem;
  
}

.right li{
  padding: 2rem;
  border: 1px solid gray;
  
}

button{
  margin: 0.2rem;
  padding: 0.4rem 0.6rem;
}